* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
}

/*--- Header Nav ---*/

.navbar{
    margin-bottom: 0px; 
}

/*--- Footer ---*/

.fixed-footer{
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.fixed-footer .navbar-nav{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/*--- Imagenes fondos ---*/

.video-home {
    position: fixed;
    z-index: 2;
    height: 80%;
    width: 100%;
}

.fondo-nosotros {
     background: url('../img/picnosotros.jpg') center center / cover fixed;    
}

.fondo-contacto {
     background: url('../img/piccontacto.jpg') center center / cover fixed;    
}

.fondo-productos {
     background: url('../img/picproductos-cat.jpg') center center / cover fixed;    
}

.fondo-productos-mujeres {
     background: url('../img/picproductos-mujer.jpg') center center / cover fixed;    
}

.fondo-productos-hombres {
     background: url('../img/picproductos-hombres.jpg') center center / cover fixed;    
}

.fondo-productos-nenes {
     background: url('../img/picproductos-nenes.jpg') center center / cover fixed;    
}

.fondo-faqs {
     background: url('../img/picfaqs.jpg') center center / cover fixed;    
}

.fondo-login {
    background: url('../img/piclogin.jpg') center center / cover fixed;
}

.navbar {
    background-color: rgba(0,0,0,.7);
}

/*--- Home seccion ---*/


.seccion-home {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
    width: 70vw;
    margin: 30px auto;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    position: relative;
    z-index: 3;
}

.seccion-home h5 {
    font-size: 16px;
    color: #ffffff;
    line-height: 28px;
}

/*--- Nosotros seccion ---*/

.seccion-nosotros  {
    width: 70vw;
    height: 70vh;
    margin: 30px auto;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}


.seccion-nosotros h2 {
    color: #ffffff;
    text-align: center;
}

.seccion-nosotros h3 {
    font-size: 18px;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

.seccion-nosotros h4 {
    font-size: 16px;
    color: #ffffff;
    text-align: justify;
    line-height: 36px;
}

/*--- Contacto seccion ---*/

.titucontacto {
    text-align: center;
    color: #ffffff;
}

.formulario-contacto  {
    width: 480px;
    margin: 20px auto;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.formulario-contacto h4 {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.formulario-contacto label {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
}


input[type=text] {
    color: #ffffff;
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(255, 255, 255,0);
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=email] {
    color: #ffffff;
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(255, 255, 255,0);
}

input[type=email]:focus {
    border: 3px solid #555;
}

.button {
    background-color: #ff9966;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.formulario-contacto .radio-genero {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.formulario-contactoEnviado  {
    width: 600px;
    margin: 100px auto;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.picEnviado {
    width: 400px;
}

/*--- Formularios info ---*/

.formulario-registracion p {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: justify;
    line-height: 22px;
}


.formulario-registracion  {
    width: 480px;
    margin: 30px auto;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.formulario-registracion h1 {
    color: #ffffff;
    text-align: center;
}

.formulario-registracion label {
    color: #ffffff;
}

.formulario-registracion input {
    color: #ffffff;
}

.formulario-registracion h4 {
    color: #ffffff;
    text-align: center;
}

/*--- Faqs ---*/

.seccion-faqs  {
    width: 70vw;
    margin: 30px auto;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.seccion-faqs p {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: justify;
    line-height: 22px;
}

.seccion-faqs h1 {
    color: #ffffff;
    text-align: center;
}

.seccion-faqs h4 {
    color: #ffffff;
    text-align: left;
}

.seccion-faqs h3 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}


/*--- PRODUCTOS Categorias ---*/

.productos {
    text-align: center;
}

.breadcrumb {
    background-color: inherit;
    padding-bottom: 0;
    margin-bottom: 0;
}

.breadcrumb a {
    color: #333333;
}

.pic-categorias {
    width: 350px;
}

.pic-categorias {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255,0.3);
}

.categoria-mujer:hover .overlay {
  opacity: 1;
}

.text {
  color: #333333;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.categoria-hombre:hover .overlay {
  opacity: 1;
}
.categoria-nenes:hover .overlay {
  opacity: 1;
}

.producto-div {
    display: inline-block;
    width: 400px;
    height: 450PX;
    margin-top: 30px;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.producto-div h2 {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.producto-div h4 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.producto-div h5 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.producto-div p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.picproduto-general {
    width: 300px;
    margin-bottom: 15px;
}


/*--- PRODUCTOS Mujer ---*/

.categoria-mujer {
    display: inline-block;
    width: 400px;
    height: 450PX;
    margin-top: 30px;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.categoria-mujer a {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-decoration: none;
}

/*--- PRODUCTOS Hombre ---*/

.categoria-hombre {
    display: inline-block;
    width: 400px;
    height: 450PX;
    margin-top: 30px;
    margin-left: 30px;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.categoria-hombre a {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-decoration: none;
}

/*--- PRODUCTOS Niños ---*/

.categoria-nenes {
    display: inline-block;
    width: 400px;
    height: 450PX;
    margin-top: 30px;
    margin-left: 30px;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.categoria-nenes a {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}



/*--- registro login ---*/

.row {
    margin-top: 20px;
}


label {
    color: #ffffff;
    font-weight: normal;
}


.panel {
    background-color: rgba(0,0,0,0.7); 
}

.panel-default>.panel-heading {
    background-color:rgba(0,0,0,0.7);
    color: #ffffff;
    border: none;
}

.panel-default {
    border: none;
}

.btn-primary {
    background-color: #ff9966;
    border: none;
}

.btn-link {
    color: #ff9966;
}

input[type=password] {
    color: #ffffff;
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(255, 255, 255,0);
}

input[type=password]:focus {
    border: 3px solid #555;
}




/*--- Breakpoints ---*/

@media only screen and (max-width: 768px) {

/*--- Footer Mobile ---*/

.fixed-footer{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    bottom: 0px;
    margin-top: 30px;
    text-align: center;
}

.fixed-footer .navbar-nav{
    left: 50%;
    transform: translate(-50%);
}


.seccion-faqs h1 {
    font-size: 22px;
}

.formulario-contacto h1 {
    font-size: 22px;
}

.seccion-nosotros {
    height: 100%;
}


.seccion-nosotros h2 {
    font-size: 22px;
}

.seccion-nosotros h3 {
    color: #ffffff;
    text-align: left;
    text-align: justify;
    line-height: 26px;
}

.seccion-nosotros h4 {
    color: #ffffff;
    text-align: left;
    text-align: justify;
    line-height: 26px;
}

.formulario-contactoEnviado  {
    width: 100vw;
    background-color:rgba(0,0,0,0.7);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
}

.picEnviado {
    width: 300px;
}

/*--- PRODUCTOS Categorias ---*/

.pic-categorias {
    width: 350px;
}


.categoria-mujer {
    margin-left: 0;
}

.categoria-hombre {
    margin-left: 0;
}
.categoria-nenes {
    margin-left: 0;
}

}
